@import "tailwindcss";

:root{
    --primary-Color : #10B981;
    --seconday-Color : #6366F1;
    --font-Colors :#4B8171 ;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.leftSide input[type="checkbox"]{
    width: 32px;
    height: 32px;
    accent-color: rgb(1, 169, 1);
}
