@import "tailwindcss";

html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light{
  --bg-body-Color : rgb(243, 243, 244);
  --primary-bg : white;
  --secondary-bg : #333;
  --primary-text-Color : #000;
  --seconday-Color : rgb(199, 199, 199);
  --bg-Navbar :  rgb(209 213 219);
  --border-Color : rgb(75 85 99);
   
}
.dark {
  --bg-body-Color : #111;
  --primary-bg : #555;
  --primary-text-Color : #fff;
  --secondary-bg : rgb(199,199,199);
  --bg-Navbar :  #333;
}

.theme-btn{
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 7px 14px 7px 10px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    transition: background 0.3s, color 0.3s, transform 0.15s;
    white-space: nowrap;
}


  .toggle-track {
    width: 34px;
    height: 19px;
    background: rgba(99, 99, 99, 0.859);
    border-radius: 100px;
    position: relative;
    transition: background 0.3s;
    flex-shrink: 0;
  }
  .toggle-thumb {
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 14px;
    height: 14px;
    background: burlywood;
    border-radius: 50%;
    transition: transform 0.3s ease, background 0.3s;
  }
 html .dark .toggle-thumb { transform: translateX(15px); }